html,
body,
.partial-wrapper {
    height: 100%;
}

// Boostrap Style Overrides
.btn {
    border-radius: 0;
    cursor: pointer;
}

// Homepage
.sign-in-wrapper {
    height: 100%;
    padding-top: 56px;
    background: url('/imgs/homepage-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .signup-block {
        display: block;
        width: 168px;
        height: 100%;
        margin: auto;
        .login-btn {
            display: block;
            position: relative;
            top: 40%;
            cursor: pointer;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        }
    }
}

.logout-btn{
    color: whitesmoke;
    &:hover{
        color: white;
    }
}

// Dashboard
.dashboard-wrapper {
    height: 100%;
    padding-top: 56px;
    .panel-container{
        height: 100%;
    }
    .user-side-panel {
        background: #e7e8ea;
        height: 100%;
        padding: 50px 15px;
        .user-image {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            margin:auto;
        }
        p{
            text-align: center;
            padding-top: 10px;
        }
    }
    .content-editor{
        h2{
            padding: 25px 0;
        }
        p{
            margin-top: 10px;
            margin-bottom: 0;
        }
        
        .btn-info{
            margin-top: 25px;
            float: right;
        }
    }
}
